                    header {
                        .nav-item {
                            display: flex;
                            justify-content: flex-end;
                        }
                        .jumbotron {
                            background-image: url('./img/piccoletti-sandrine-bqBxcDdNtFM-unsplash.jpg');
                            background-size: cover;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            h1,
                            h6,
                            p {
                                font-weight: bolder;
                                color: white;
                                text-shadow: 1px 1px 0px black;
                            }
                            .bout {
                                display: flex;
                                flex-wrap: wrap;
                                a {
                                    padding: 5px;
                                    margin: 5px;
                                }
                            }
                        }
                    }
                    
                    main {
                        section {
                            margin: 3em 0em 3em 0em;
                            padding: 0em 2em 0em 2em;
                            display: flex;
                            justify-content: space-around;
                            .media-left,
                            .media-body {
                                max-width: 40%;
                            }
                        }
                        .container {
                            &:nth-child(even) {
                                .section {
                                    flex-direction: row-reverse;
                                }
                            }
                        }
                    }
                    
                    footer {
                        .jumbotron {
                            background-image: url('./img/pontus-wellgraf-FU9bFwNTVJ8-unsplash.jpg');
                            background-size: cover;
                            display: flex;
                            justify-content: space-evenly;
                            h2 {
                                font-weight: bolder;
                                color: white;
                                text-shadow: 1px 1px 0px black;
                            }
                            .bout {
                                display: flex;
                                flex-wrap: wrap;
                                a {
                                    padding: 5px;
                                    margin: 5px;
                                }
                            }
                        }
                    }
                    
                    @import "~bootstrap/scss/bootstrap";